@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

.logo img{
    position: absolute;
width: 530px;
height: 550px;
left: 30%;
top: -170px
}

body{
    background-color: #DDE5E9;
}

.logotipos_titulo h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    position: absolute;
    width: 120px;
    height: 80px;
    left: 800px;
    top: 160px
}

.logotipos_images img{
    position: absolute;
    top: 250px;
    left: 310px
}

