@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    background-color: #DDE5E9;
    font-family: 'Josefin Sans', sans-serif;
}

.logo img{
    position: absolute;
width: 530px;
height: 550px;
left: 30%;
top: -170px
}
.cabos {
 position: absolute;
    width: 530px;
height: 550px;
left: 210px;
top: 300px
}

.text {
    position: absolute;
left: 660px;
top: 720px 
}
.tex{
    font-size: 50px;
    position: absolute;
width: 520px;
height: 80px;
left: 600px;
top: 180px

}