body {
background-color: #1B262C;
}
.imagem{
    text-align: center;
position: fixed;
width: 50%;
height: 50%;
left: 25%;
top: 150px;


}
button{
    position: absolute;
    top: 540px;
    right: 47%;
    color: rgba(134, 162, 176, 0.67);
    background-color: #1B262C ;
    border: none;
    height: 60px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05);
}
